<html>

<body>
    <div>
        <h3>{{user}}:  {{role}}</h3>
        <table>
            <tr>
                <th>User</th>
                <th>Weekly Goals</th >
                <th>Daily Goals</th>
                <th>Verify Goals</th>
                <th>Done Goals</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{user}}</td>
                <td>{% for goal in weekly_goals%}
                        {%if goal.user.username == user.username%}
                        <a href ={% url 'karenzibohscrumy:movegoal' goal.goal_id  %}>{{goal}}, {{goal.goal_id}}</a>
                        {%endif%}    
                    {%endfor%}
                </td> 
                <td>{% for goal in daily_goals%}
                    {%if goal.user.username == user.username%}
                    <a href ={% url 'karenzibohscrumy:movegoal' goal.goal_id  %}>{{goal}}, {{goal.goal_id}}</a>
                    {%endif%}    
                {%endfor%}
                </td>
                <td>{% for goal in verify_goals%}
                    {%if goal.user.username == user.username%}
                    <a href ={% url 'karenzibohscrumy:movegoal' goal.goal_id  %}>{{goal}}, {{goal.goal_id}}</a>
                    {%endif%}    
                {%endfor%}
                </td>
                <td>{% for goal in done_goals%}
                    {%if goal.user.username == user.username%}
                    <a href ={% url 'karenzibohscrumy:movegoal' goal.goal_id  %}>{{goal}}, {{goal.goal_id}}</a>
                    {%endif%}    
                {%endfor%}
                </td>
            {% endfor %}
            </tr>
            
        </table>
    </div>
    <p> <a href ={% url 'karenzibohscrumy:add' %}>ADD A GOAL</a></p>
</body>

</html> 