<html>
    <body>
        <section>
            <h2>Move Goal</h2>
            <form method="POST"> {% csrf_token %}
                {{form}}
                <input type="submit">
            </form>
        </section>
    </body>
</html>        