<h2>Login to your account or <a href={% url 'karenzibohscrumy:signup' %}>Create a free account </a></h2>
<form id="login-form" method="post" >
    {% csrf_token %}
    <table class="table">
        <tr>
            <td><label for="id_username">Username </label></td>
            <td><input id="id_username" name="username" type="text" class="form-control"></td>
        </tr>
        <tr>
            <td><label for="id_password">Password </label></td>
            <td><input id="id_password" name="password" type="password" class="form-control"></td>
        </tr>
        <tr>
            <td><label>Login</label></td>
            <td><input type="submit"></td>
        </tr>
    </table>